<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="x4_PerfDemoViewHolder.x4_PerfDemoViewHolder">
	<uses-sdk />
	<application android:label="4-PerfDemoViewHolder">
	</application>
</manifest>