<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.university.mobilenav.android.actionbartabs">
	<uses-sdk android:minSdkVersion="8" />
	<application android:icon="@drawable/ic_launcher" android:label="ActionBar Tabs">
	</application>
</manifest>