Components
packages

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user

bin
obj

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*_ReSharper.*/

*/*/*/bin/*
*/*/*/obj/*
*/*/*/*/bin/*
*/*/*/*/obj/*


*/Resource.designer.cs

*/*/Resource.designer.cs
*/*/*/Resource.designer.cs
*/*/*/*/Resource.designer.cs
*/*/*/*/*/Resource.designer.cs

*.resources
Hybrid/HybridRazorTodo/Components/
Hybrid/HybridRazorNativeTodo/Components/

Hybrid/RazorTodo/Components/
Hybrid/RazorNativeTodo/Components/
QuickUI/QuickEvolve13/Components/
QuickUI/QuickEvolve13/packages/
QuickUI/QuickTodoXaml/Components/
L10n/Vernacular/Android/Components/
L10n/Vernacular/Components/
L10n/Vernacular/iOS/Components/
L10n/iOS/LionTodo/Components/
L10n/iOS/LionTodoStoryboard/Components/
QuickUI/QuickRoget1911/Components/
QuickUI/QuickRoget1911/packages/
QuickUI/QuickTodo/Components/
QuickUI/QuickTodo/packages/
QuickUI/QuickTodoXaml/Components/
QuickUI/QuickTodoXaml/packages/
QuickUI/QuickTodoMvvm/Components/
QuickUI/QuickTodoMvvm/packages/
iOS/OneCoolThing/Components/
QuickUI/FormsBasics/Components/
QuickUI/FormsBasics/packages/

QuickUI/EmployeeDirectoryXaml/Components/
QuickUI/EmployeeDirectoryXaml/packages/
QuickUI/TicTacForms/packages/
QuickUI/TicTacForms/Components/
Mobile/xamarin-store-app/Components/
