<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.enterprisewcf.droid" android:versionCode="1" android:versionName="Demo">
	<uses-sdk android:minSdkVersion="14" />
	<application android:label="Enterprise WCF" android:theme="@android:style/Theme.Holo.Light.DarkActionBar" android:icon="@drawable/ic_launcher"></application>
</manifest>