<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="x3_PerfDemoListView.x3_PerfDemoListView">
	<uses-sdk />
	<application android:label="3-PerfDemoListView">
	</application>
</manifest>