<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="TodoL10nResx.Android">
	<uses-sdk />
	<application android:icon="@drawable/check2x" android:label="TodoRESX">
	</application>
</manifest>