<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Xamarin.WebServicesAsync.Soap.Droid">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
	<application android:label="Web Services SOAP" android:theme="@android:style/Theme.Holo.Light.DarkActionBar" android:icon="@drawable/ic_launcher"></application>
</manifest>